table {
    width: 100%;
  }
 
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
/* */

  .example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    mat-form-field {
      width: 100%;
    }
  }
  #btnaim{
    outline: none;
  }
  #btnanim:before{
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }
  #btnanim:hover:before{
    opacity: 1;
  }
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
  
  .action {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  #boot{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }