#form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}
#fullwi{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
    
}
#fullcol{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;

}
#mydiv{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
    gap: 10px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 15px;

}
#matback{
    background-color: #FFECD9;
}
#titre{
    text-transform: uppercase;
    text-align: center;
    background-color: #FFECD9;

}