<div mat-dialog-title id="titre"> Ajouter Des Mesures</div>
<div mat-dialog-content id="matback">
    <form>
        <div class="form-row-md-20" id="form">
          <div class="form-group col-sm">
            <label for="inputEmail4">Date</label>
            <input type="date" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-sm">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
          <div class="form-group col-sm">
            <label for="inputPassword4">Poids</label>
            <input type="number" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
          <div class="form-group col-sm">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <div id="lastcol">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
        
        <div class="mydiv">
            <button type="submit" class="btn btn-primary" mt-10>Enregistrer</button>
            <button type="submit" class="btn btn-secondary" mt-10>Retour</button>
        </div>
      </form>
</div>
