
<div mat-dialog-title id="titre" *ngIf="!data"> Ajouter Des Mesures</div>
<div mat-dialog-title class="titre" *ngIf="data"> Modifier Des Mesures</div>
<div mat-dialog-content id="matback">
    <form  [formGroup]="mesureForm"  (ngSubmit)="onSubmit()">
        <div class="form-row-md-20" id="form">
          
          <div class="form-group col-sm">
            <label for="inputPassword4">Date</label>
            <input type="date" matInput class="form-control" id="date" formControlName="date" required >
          </div>
          
          
          <div class="form-group col-sm">
            <label for="inputPassword4">Nom Complet</label>
            <input type="text" matInput class="form-control" id="NomComplet" placeholder="Nom et prenom" formControlName="NomComplet">

          </div>
          
          <div class="form-group col-sm">
            <label for="inputPassword4">Poids (en kg)</label>
            <input type="number" matInput class="form-control" id="poids" placeholder="75kg" formControlName="poids" (blur)="verifierChamp('poids')" >
             <!--validation-->
             <div *ngIf="champsTouche['poids'] && mesureForm.get('poids')?.hasError('required')" class="text-danger">
              Ce champ est requis.
            </div>
            <div *ngIf="champsTouche['poids'] && mesureForm.get('poids')?.hasError('nonNombre')" class="text-danger">
              Le poids doit être un nombre.
            </div>
            <div *ngIf="champsTouche['poids'] && mesureForm.get('poids')?.hasError('longueurIncorrecte')" class="text-danger">
              max(3nombres)
            </div>
            <!-- validation-->
          </div>
          <div class="form-group col-sm">
            <label for="inputPassword4">Taille (en cm)</label>
            <input type="number" matInput class="form-control" id="taille" placeholder="175cm"  formControlName="taille" (blur)="verifierChamp('taille')" >
            <!--validation-->
            <div *ngIf="champsTouche['taille'] && mesureForm.get('taille')?.hasError('required')" class="text-danger">
              Ce champ est requis.
            </div>
            <div *ngIf="champsTouche['taille'] && mesureForm.get('taille')?.hasError('nonNombre')" class="text-danger">
              La taille doit être un nombre.
            </div>
            <div *ngIf="champsTouche['taille'] && mesureForm.get('taille')?.hasError('longueurIncorrecte')" class="text-danger">
              max(3nombres)
            </div>
            <!-- validation-->
          </div>

          <div class="form-group col-sm">
            <label for="inputPassword4">Tension Systolique</label>
            <input type="number" matInput class="form-control" id="tsystolique" placeholder="18 mmkg" formControlName="tsystolique" (blur)="verifierChamp('tsystolique')" >
             <!--validation-->
             <div *ngIf="champsTouche['tsystolique'] && mesureForm.get('tsystolique')?.hasError('required')" class="text-danger">
              Ce champ est requis.
            </div>
            <div *ngIf="champsTouche['tsystolique'] && mesureForm.get('tsystolique')?.hasError('nonNombre')" class="text-danger">
              La Tension Systolique doit être un nombre.
            </div>
            <div *ngIf="champsTouche['tsystolique'] && mesureForm.get('tsystolique')?.hasError('longueurIncorrecte')" class="text-danger">
              max(3nombres)
            </div>
            <!-- validation-->
          </div>
          <div class="form-group col-sm">
            <label for="inputPassword4">Tension Diastolyque</label>
            <input type="number" matInput class="form-control" id="tdiastolique" placeholder="24 mmkg" formControlName="tdiastolique" (blur)="verifierChamp('tdiastolique')">
             <!--validation-->
             <div *ngIf="champsTouche['tdiastolique'] && mesureForm.get('tdiastolique')?.hasError('required')" class="text-danger">
              Ce champ est requis.
            </div>
            <div *ngIf="champsTouche['tdiastolique'] && mesureForm.get('tdiastolique')?.hasError('nonNombre')" class="text-danger">
              La Tension Diastolyque doit être un nombre.
            </div>
            <div *ngIf="champsTouche['tdiastolique'] && mesureForm.get('tdiastolique')?.hasError('longueurIncorrecte')" class="text-danger">
              max(3nombres)
            </div>
            <!-- validation-->
          </div>     
        </div>
        <div class="form-group col-sm" style="margin-bottom: 20px;">
          <label for="inputPassword4">Pouls</label>
          <input type="number" matInput class="form-control" id="pouls" placeholder="23" formControlName="pouls" (blur)="verifierChamp('pouls')" >
           <!--validation-->
           <div *ngIf="champsTouche['pouls'] && mesureForm.get('pouls')?.hasError('required')" class="text-danger">
            Ce champ est requis.
          </div>
          <div *ngIf="champsTouche['pouls'] && mesureForm.get('pouls')?.hasError('nonNombre')" class="text-danger">
            Le Pouls doit être un nombre.
          </div>
          <div *ngIf="champsTouche['pouls'] && mesureForm.get('pouls')?.hasError('longueurIncorrecte')" class="text-danger">
            max(3nombres)
          </div>
          <!-- validation-->
        </div>
        
       
        <div class="form-group col-sm" id="grid">
            
            <button class="btn btn-secondary" mt-10 mat-raised-button type="button" [mat-dialog-close]="false">Retour</button>
            <button class="btn btn-primary" mt-10  mat-raised-button style="background-color: #26B08D;" type="submit" [disabled]="mesureForm.invalid">{{data ? 'Modifier': 'Enregistrer'}}</button>
        </div>
      </form>
</div>