<!-- <div>
    <h3>Transformez votre bien-être en données : <br>
        Découvrez notre Application de Suivi de <br>
        Santé pour une vie plus saine et équilibrée.</h3>
    
</div> -->

<!-- <h3>Transformez votre bien-être en données : <br>
    Découvrez notre Application de Suivi de <br>
    Santé pour une vie plus saine et équilibrée.</h3> -->
<div class="imgcontainer">
    <img class="div" src="../../assets/img/suivip.jpg" alt="" width="">
    <h3>Transformez votre bien-être en données : <br>

        Découvrez notre <span class="logosign">A</span>pplication de <span class="logosign">S</span>uivi de <br>
        
        <span class="logosign">S</span>anté pour une vie plus saine et <br>
        équilibrée</h3>

</div>